@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

.text{
    font-family: 'Open Sans', sans-serif; /* This applies the font open-sans italic to every text grouped under the text class */
}

#text1{
    font-size: 45px;
    color: red;
}

#text2{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

#text3{
    font-size: 40px;
    color: blue;
    background-color: seagreen;
    margin : auto;
    border: 16px solid black;
    border-radius: 16px;;
}

input[type=text] {
    border-radius: 12px;
}